<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357316675210-h2fsfdvsmbsfhpcthvah85alunk0c0h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357316675210-h2fsfdvsmbsfhpcthvah85alunk0c0h6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>357316675210-1hor8hk8ospf9ifl5jh139nee2b6o0ge.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIy95KjXj0T1dIjEg7jqfb0JLFbUxv1Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>357316675210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>advocate.preparation.app</string>
	<key>PROJECT_ID</key>
	<string>dlfirst-244317</string>
	<key>STORAGE_BUCKET</key>
	<string>dlfirst-244317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357316675210:ios:736a79f2af3dc8990d4f73</string>
	<key>DATABASE_URL</key>
	<string>https://dlfirst-244317.firebaseio.com</string>
</dict>
</plist>